*{
  box-sizing: border-box;
}

body{
/* width: 100%;
overflow-x: hidden; */
width: 1280px;
display: block;
margin: 0% auto;
font-family: "Brutal Type";
background-color: #13102D;
}

h2{
font-size: 92px;
}

h3{
font-size: 45px;
font-weight: 700;
}

h5 {
font-size: 21px;
font-weight: 800;
}
.section-1{
display: flex;
width: 1280px;
height: 880px;
background-color: #fff;
}

.glasses {
margin: 0 0 -450px 395px;
position: relative;
z-index: 100px;
}

.section-1 h3 {
font-size: 45px;
font-weight: 700;
color: #13102D;
text-align: left;
margin: -500px 0 0 936px;
}

.section-2 {
width: 1280px;
height: 1349px;
background-image: url(../img/bg_section2.svg);
}

.jarcenter img{
margin: 95px 0 0 487px;
}
.jarcenter h1{
font-size: 120px;
font-weight: 800;
color: #13102D;
margin: -351px 0 0 514px;
}

.jarcenter h5 {
font-size: 21px;
font-weight: 800;
color: #13102D;
margin: -10px 0 0 537px;
}

.jarleft img{
margin: -26px 0 0 214px;
}

.jarleft h4{
font-size: 30px;
font-weight: 800;
color: #13102D;
text-align: center;
margin: 23px 0 0 -542px;
}

.jarleft h5{
font-size: 21px;
font-weight: 800;
color: #13102D;
margin: -182px 0 0 333px;
}

.section-2 h2 {
font-size: 92px;
font-weight: 900;
color: #13102D;
margin: 149px 0 0 310px;
}

.firstlist h3 {
color: #13102D;
margin: -294px 0 0 -4px;
transform: rotate(9deg);
text-align: center;
line-height: 2.5;
}

.firstlist {
width: 313px;
height: 348px;
margin: 92px 0 0 50px;
}


.secondlist {
width: 285px;
height: 287px;
margin: -436px 0 0 378px;
}

.secondlist h3 {
color: #13102D;
margin: -200px 0 0 19px;
}

.thirdlist {
width: 344px;
height: 348px;
margin: -176px 0 0 605px;
}

.thirdlist h3 {
color: #13102D;
margin: -278px 0 0 0;
transform: rotate(-12deg);
text-align: center;
line-height: 2.5;
}

.fourlist {
width: 350px;
height: 366px;
margin: -506px 0 0 880px;
}

.fourlist h3 {
color: white;
margin: -274px 0 0 48px;
transform: rotate(-17deg);
}

.mountains3 {
margin: 112px 0 0 0;
}

.section-3 {
width: 1280px;
height: 735px;
background-image: url(../img/bg_section3.svg);
}

.letter h1{
position: absolute;
width: 537px;
height: 611px;
font-size: 871px;
font-weight: 500;
color:#FF0000;
margin: 20px 0 0 686px;
}

.text3{
position: absolute;
width: 580px;
height: 226px;
font-weight: 700;
color: #68686D;
margin: 44px 0 0 22px;
}

.section-4 {
width: 1280px;
height: 744px;
/* background-image: url(../img/bg_section4.svg); */
}

.section-4 h3 {
position: absolute;
color: #68686D;
margin: 623px 0 0 41px;
}

.greyletters {
position: absolute;
font-size: 652px;
font-weight: 500;
letter-spacing: 6px;
margin: 9px 0 0 -14px;
color: #68686D;
}

.greyletters img {
position: absolute;
margin: -591px 0 0 243px;
width: 728px;
height: 469px;
}

.section-5 {
width: 1280px;
height: 784px;
background-image: url(../img/bg_section5.svg);
}

.backpacks {
width: 1280px;
height: 644px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
}

.backpack1 {
width: 355px;
height: 489px;
}

.backpack2 {
width: 355px;
height: 489px;
}

.backpack3 {
width: 355px;
height: 489px;
}

.fontstyles {
width: 1207px;
height: 114px;
display: flex;
flex-direction: row;
justify-content: space-around;
color: #68686D;
padding: 37px; 
}

.section-6 {
width: 1280px;
height: 890px;
background-image: url(../img/bg_section6.svg);
}

.skrin6 {
width: 1280px;
height: 890px;
display: flex;
flex-direction: row;
}

.style-names {
width: 373px;
height: 887px;
}

.words-part1 {
width: 451px;
height: 887px;
}

.words-part2 {
width: 451px;
height: 887px;
}

.section-7 {
width: 1280px;
height: 1455px;
}

.text-7scrin {
width: 1280px;
height: 200px;
color: #68686D;
font-weight: 700;
line-height: 0.9;
margin: 20px 0 0 34px;
}

.section-7 img {
width: 1201px;
height: 1249px;
margin: -31px 0 0 31px;
}

.section-7 h1{
font-size: 234px;
font-weight: 700;
color: #fff;
}

.row1 {
display: flex;
flex-direction: row;
justify-items: center;
}
