*{ box-sizing: border-box;}

@font-face {
font-family: "BrutalType";
src: url("../fonts/Brutal/BrutalType.ttf") format("truetype");
font-style: Light;
font-weight: Light;
}

p{ font-family: 'BrutalType'; }

h1{
font-family: "BrutalType-Black";
src: url("../fonts/Brutal/BrutalType-Black.ttf") format("truetype");
font-size: 322px;
color: #13102D;
text-align: center;
}

.back1 img{
display: flex;
justify-content: center;
align-items: center;
margin: top 0px;
/* height: 760px; */
width: 1280px;
}