*{
  box-sizing: border-box;
}

body{
/* width: 100%;
overflow-x: hidden; */
width: 1280px;
display: block;
margin: 0% auto;
font-family: "Brutal Type";
background-color: #13102D;
}

.section-1{
display: flex;
width: 1280px;
height: 880px;
background-color: #fff;
}

.glasses {
margin: 0 0 -450px 395px;
position: relative;
z-index: 100px;
}

.section-1 h3 {
font-size: 45px;
font-weight: 700;
color: #13102D;
text-align: left;
margin: -500px 0 0 936px;
}

.section-2 {
width: 1280px;
height: 1349px;
background-image: url(../img/bg_section2.svg);
}

.jarcenter img{
margin: 95px 0 0 487px;
}
.jarcenter h1{
font-size: 120px;
font-weight: 800;
color: #13102D;
margin: -351px 0 0 514px;
}

.jarcenter h5 {
font-size: 21px;
font-weight: 800;
color: #13102D;
margin: -10px 0 0 537px;
}

.jarleft img{
margin: -29px 0 0 213px;
}

.jarleft h4{
font-size: 30px;
font-weight: 800;
color: #13102D;
text-align: center;
margin: 23px 0 0 -542px;
}

.jarleft h5{
font-size: 21px;
font-weight: 800;
color: #13102D;
margin: -182px 0 0 333px;
}

.section-2 h2 {
font-size: 92px;
font-weight: 900;
color: #13102D;
margin: 190px 0 0 310px;
}

.firstlist {
margin: 109px 0 0 50px;
}

.secondlist {
margin: -436px 0 0 378px;
}

.thirdlist {
margin: -176px 0 0 605px;
}

.fourlist {
margin: -506px 0 0 880px;
}

.mountains3 {
margin: 6px 0 0 0;
}

.section-3 {
width: 1280px;
height: 735px;
background-image: url(/img/bg_section3.svg);
}
